*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    background-color:rgb(50, 50, 50);
    overflow-x: hidden; 
}

/* ----------------- NavBarre ----------------*/
nav {
    background-color: rgb(30, 30, 30);
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 10;
}

label.nom {
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 30px 20px;
    border-radius: 3px;
    text-transform: uppercase
}

a.active, a:hover {
    background: #808080;
    transition: .5s;
    color: white;
}

.sup {
    color: #CDCDCD;
    font-size: 20px;
}

/* fait disparaitre si taille de l'écran 
supérieur a 1441px */
@media (min-width: 1441px) {
    .sup {
        display: none;
    }
}

/* fait disparaitre si taille de l'écran 
inférieur a 780px */
@media (max-width: 780px) {
    .sup {
        display: none;
    }
}


a:link 
{ 
 text-decoration:none; 
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* --- Affichage de la nav bar en mode téléphone --- */
@media (max-width: 1440px) {
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 420px;
        background:rgb(70, 70, 70);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 25px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active, a:hover {
        background: none;
        color:#808080;
    }

    #check:checked ~ ul {
        left:0;
    }
}

.nomPrenom {
    color: white;
    background-color: none;
}

a.nomPrenom:hover {
    background-color: rgb(30, 30, 30);
}

@media (max-width: 500px) {
    .nomPrenom {
        font-size: 20px;
    }
}

/* -------------- FIN NavBarre -------------*/

/* -------------- Tête du site -------------*/
header {
    color : white;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(50, 50, 50, 1) 90%), url("../image/fond7.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

@media (max-width: 1300px) {
    .header {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(50, 50, 50, 1) 90%), url("../image/fond8.jpg") no-repeat;
        background-size: cover;
        height: calc(100vh - 80px);
    }
}

@media (max-width: 1000px) {
    .header {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(50, 50, 50, 1) 90%), url("../image/fond9.jpg") no-repeat;
        background-size: cover;
        height: calc(100vh - 80px);}
}

@media (max-width: 700px) {
    .header {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(50, 50, 50, 1) 90%), url("../image/fond10.jpg") no-repeat;
        background-size: cover;
        height: calc(100vh - 80px);
    }
}

/* Photo de l'acceuil */
.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.header_content {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    color: black;
    font-weight: bold;
}

/* différentte taille de la police en fonction 
    de la taille de l'écran */
.grandTitre {
    color: rgb(167, 94, 0);
    font-size : 70px;
    text-align: center;
    font-size: bold;
}

@media (max-width: 1100px) {
    .grandTitre {
        font-size : 60px;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .grandTitre {
        font-size : 50px;
        text-align: center;
    }
}


/* -------------- FIN tête du site -------------*/

/* centrer verticalement */
.centrer {
    margin: auto;
}

.bordure {
    border: solid;
}

.bloc {
    margin-bottom: 100px;
}

/* Pour le bloc présentation */
@media (min-width: 1250px) {
    .presentation {
        height: 500px;
    }

    .fils4 {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .presentation {
        height: 500px;
    }
}

@media (max-width: 992px) {
    .fils4 {
        text-align: center;
    }
}
/* ----------------------------------- */

/* ---------  Gestion de images ------------- */
.photoProfil {
    width: 80%;
    max-width: 500px;
    border-radius: 100em;
}

.photoPays {
    height : 150px;
}

@media (max-width: 768px) {
    .photoPays {
        height : 100px;
        max-width: 150px;
    }
}

.photoProjet {
    width: 200px;
    height: 500px;;
}

.dimensionPhoto {
    width: 300px;
    height: 400px;
}

.photoLoisir {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin: 20px;
}

.photoLoisir img {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%
}

.legendeLoisir {
    visibility: hidden;
    color:rgb(161, 161, 161);
    margin-top: -10px;
}

.legendePortfolio {
    visibility: hidden;
    color:rgb(161, 161, 161);
}

@media (max-width: 1024px) {
    .photoLoisir {
        margin: 10px;
    }

    .legendeLoisir {
        visibility: visible;
    }

    .legendePortfolio {
        visibility: visible;
    }
}

.photoPortfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 350px;
}

.photoPortfolio img {
    flex-shrink: 1;
    height: 100%;

    object-position: 50% 50%;
}

.textePhoto {
    padding: 20px;
}

.photoLogo {
    height: 50px;
}

.photoQRCode {
    width: 100px;
    height: 100px;
}

/* ------  FIN de la gestion de images ------- */

/* --- Affichage d'un texte sur une image --- */
.contenant {
    position: relative;
    text-align: center;
}


.texte_centrer {
    width: 105%;
    height: 105%;
    vertical-align: middle;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    padding: 10%;
    transform: translate(-50%, -50%);
    /* Couleur transparente */
    color:rgb(0, 0, 0, 0);
}

.texte_centrer2 {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: absolute;
    padding: 10%;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Couleur transparente */
    color:rgb(0, 0, 0, 0);
}

.texte_centrer3 {
    width: 62%;
    height: 100%;
    vertical-align: middle;
    position: absolute;
    padding: 5%;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Couleur transparente */
    color:rgb(0, 0, 0, 0);
}

.texte_centrer:hover, .texte_centrer2:hover, .texte_centrer3:hover {
    background-color: rgb(50, 50, 50, 0.8);
    color: rgb(200, 200, 200);
}
/* -- FIN affichage d'un texte sur une image -- */

/* ----------- Placement texte ------------ */
.titre {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 3em;
    font-family: Helvetica, sans-serif;
}

.titre2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.description {
    margin-top: 20px;
    color: rgb(200, 200, 200);
    font-size: 1.5em;
}

.description2 {
    margin-top: 20px;
    color: rgb(200, 200, 200);
    font-size: 20px;
    margin: auto;
}

.description3 {
    margin-top: 20px;
    color: rgb(200, 200, 200);
    font-size: 20px;
}

.description4 {
    padding: 30px;
    color:white;
    font-size: 1.5em;
}


/* -------- FIN placement texte ---------- */


/* -------- Liste des espaces ------------- */
.espace1 {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.espace2 {
    margin-bottom: 30px;
}

.espace3 {
    margin-top: 40px;
}

.espace4 {
    margin-bottom: 150px;
}

.espace5 {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
    margin-right: 20px;
}

.espace6 {
    margin-top: 200px;
}

.espace7 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.espace8 {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 50px;
}

@media (max-width: 768px) {
    .espace8 {
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: 15px;
    }
}

.espace9 {
    padding: 30px;
    background-color: rgb(70, 70, 70);
}

.espace10 {
    margin-bottom: 40px;
}

.espace11 {
    margin-bottom: 70px;
}

.espace12 {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
}

/* -------- FIN Liste des espaces ---------- */

/* ------- Mis en place du centrage -------- */

/* Bloc avec relief  */
.parent {
    background-color: #272727;
    box-shadow: 5px 5px 5px rgba(0,0,0,20);
    z-index: 2;
}

.parent2 {
    background-color: #494949;
    box-shadow: 5px 5px 5px rgba(0,0,0,20);
}

/* --- Permet de centrer verticalement --- */
.enfant {
    display: table;
}

/* et centrer horizontalement */
.fils1 {    
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* et centrer a gauche horizontalement*/
.fils2 {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

/* et centrer a droite horizontalement*/
.fils3 {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.fils4 {
    display: table-cell;
    vertical-align: middle;
}

.fils5 {
    display: table-cell;
    text-align: center;
}

@media (max-width: 767px) {
    .fils5 {
        text-align: left;
    }
}

.fils6 {
    text-align: center;
}


/* ----- FIN Mis en place du centrage ------ */

/* ---- Taille et couleur de la police ---- */
.taille1 {
    font-size: 3em;
}

.taille2 {
    font-size: 2em;
}

.taille3 {
    font-size: 1.5em;
    margin-top: 20px;
}

.taille4 {
    font-size: 75%;
}

.taille5 {
    font-size: 150%;
}

.ecriBlanc {
    color: white;
}

.ecricSecondaire {
    color: #CDCDCD!important;
}

.ecriBleu {
    color: rgb(0, 45, 104)
}

/* -- FIN Taille et couleur de la police -- */

/* Bloc des langes */
.langages {
    height: 40px;
}

@media (max-width: 700px) {
    .langages {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
    }
}

/* Nom du langage */
.nomLangage {
    float: left;
    text-align: center;
    width: 20%;
    height: 40px;
    font-size: 1.5em;
}


.tailleBar {
    width: 70%;
    height: 30px;
    margin-top: 20px;
}

@media (max-width: 700px) {
    .tailleBar {
        width: 100%;
    }
}

.tailleBar2 {
    width: 100%;
    height: 20px;
    margin: auto;
}

.progress-moved {
    animation: progressAnimation 3s;
}
  
@keyframes progressAnimation {
    0%   { width: 5%;}
}

/* ----------- Couleur barre ----------- */
.violetBar {
    background-color: rgb(101, 0, 160)!important;
}

.orangeBar {
    background-color: rgb(165, 80, 0)!important;
}

.blancBar {
    background-color: rgb(255, 255, 255)!important;
}

.bleuBar {
    background-color: rgb(0, 2, 129)!important;
}

/* --------- FIN Couleur barre --------- */

u {
    text-decoration: underline;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

a.fleche {
    color: white;
}

.listeExperience {
    background-color: #494949;

    height: 600px;
    
    margin: 50px;
    padding: 60px;

    overflow-y: scroll;
}

@media (max-width: 768px) {
    .listeExperience {
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
    } 
}

.listeLangages {
    word-spacing: 2rem;
}

.motLangages {
    margin-left: 1em;
    padding: 10px;
}

.motLangages:hover {
    background-color: rgb(50, 50, 50);
}

